<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unternehmen</title>
</head>
<body>
<h1>Unternehmen</h1>
<ul>
    <li th:each="unternehmen : ${unternehmenListe}">
        name: <span th:text="${unternehmen.name}"></span>
        <ul>
            <li th:each="mitarbeiter: ${unternehmen.mitarbeiterListe}">
                name: <span th:text="${mitarbeiter.name}"></span>
            </li>
        </ul>
        <form th:action="@{/MitarbeiterIndex}" method="get">
            <input type="hidden" th:name="unternehmenId" th:value="${unternehmen.id}">
            <button type="submit" >Mitarbeiter hinzufügen</button>
        </form>
    </li>

</ul>
<form th:object="${unternehmenDTO}" th:action="@{/unternehmen}" method="post">
    <p>Name:<input type="text" th:field="*{name}"></p>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    <p><input type="submit"></p>
</form>

</body>
</html>