<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mitarbeiter</title>
</head>
<body>
<h1 th:text="${unternehmen.name}"></h1>
<ul>
    <li th:each="mitarbeiter: ${unternehmen.mitarbeiterListe}">
        name: <span th:text="${mitarbeiter.name}"></span>
        <form th:action="@{/MitarbeiterDelete}" method="post">
            <input type="hidden" th:name="mitarbeiterId" th:value="${mitarbeiter.id}">
            <button type="submit" >Mitarbeiter töten</button>
        </form>
        <form th:action="@{/MitarbeiterEdit}" method="get">
            <input type="hidden" th:name="mitarbeiterId" th:value="${mitarbeiter.id}">
            <button type="submit" >Mitarbeiter Edit</button>
        </form>
    </li>
</ul>
<form th:object="${mitarbeiterDTO}" th:action="@{/MitarbeiterIndex}" method="post">
    <input type="hidden" th:name="unternehmenId" th:value="${unternehmen.id}">
    <p>Name:<input type="text" th:field="*{name}"></p>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    <p><input type="submit"></p>
</form>


</body>
</html>