<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MitarbeiterEdit</title>
</head>
<body>
<h2 th:text="${mitarbeiterDTO.name}"></h2>

<form th:object="${mitarbeiterDTO}" th:action="@{/MitarbeiterEdit}" method="post">
    <p>Name:<input type="text" th:field="*{name}"></p>
    <input type="hidden" th:name="mitarbeiterId" th:value="${mitarbeiterId}">
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    <p><input type="submit"></p>
</form>
</body>
</html>