<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Costumer Manager</title>
</head>
<body>
<h1>Home</h1>

<p><a th:href="@{/unternehmen}">Unternehmen</a></p>

</body>
</html>